<section class="container main-section text-center mx-auto" id="contact">
    <h2 class="">Contact me</h2>
    <form class="form" method="post">
        <div class="mb-3 form-group">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" id="name" type="text" placeholder="Name" />
        </div>
        <div class="mb-3 form-group">
            <label class="form-label" for="emailAddress">Email Address</label>
            <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" />
        </div>

        <div class="mb-3 form-group">
            <label class="form-label" for="message">Message</label>
            <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;"></textarea>
        </div>

        <button type="submit" class="btn btn-primary ">Submit</button>
    </form>

</section>