<section class="container main-section" id="project">
    <div class="text-center">
        <h2 class="text-uppercase">MY PROJECTS</h2>
    </div>

    <div class="row container">
        <div class="col-md-4">
            <h4 class="text-center"><strong>Five In A Row</strong></h4>
            <hr>
            <div class="cardNew text-center ">
                <img src="/images/five.jpg" class="img img-responsive mx-auto pro-photo">
                <div class="project-title" id="project-title">JavaScript
                </div>

                <div class="project-overview" >
                    <h3>Online Game</h3>
                    <p>Five in A Row is a pure strategy board game played by two players. Usually, the two players use black and white pieces respectively. The first player to form five sub-lines on the intersections of the straight and horizontal lines of the board wins.</p>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h4 class="text-center"><strong>Tea Shop Order System</strong></h4>
            <hr>
            <div class="cardNew text-center mx-auto">
                <img src="/images/coco.png" class="img img-responsive mx-auto pro-photo">
                <div class="project-title" id="project-title">C Sharp</div>

                <div class="project-overview">
                    <h3>Application Software</h3>
                    <p>The Tea Shop Order System is an operation app developed for milk tea shops, where customers can choose the drinks they want and the related toppings, sweetness and other information. Users can also enter their phone number to sign up for membership, and all members can accumulate one point for each drink they buy and redeem one drink for every ten points.  The system will eventually show the points and total amount by the information.</p>

                </div>
            </div>
        </div>


        <div class="col-md-4">
            <h4 class="text-center"><strong>Schedule Arrange System</strong></h4>
            <hr>
            <div class="cardNew text-center mx-auto">
                <a href="https://github.com/zhaodan0307/ScheduleArrange" style="cursor: pointer">
                    <img src="/images/arrange.png" class="img img-responsive mx-auto pro-photo">
                </a>

                <div class="project-title" id="project-title">ASP .NET</div>

                <div class="project-overview">
                    <h3>Online Website</h3>
                    <p>In shops such as coffee shops and milk tea shops, most employees are part-time, which means that the number of hours worked per week varies for everyone. As a result, weekly schedules require the store manager to rearrange them by asking employees when they can come in. However, after we have this system, the store manager does not need to spend time to arrange the schedule any more. Instead, everyone needs to input his or her working time next week one week in advance, and the schedule can be automatically arranged by the system.</p>

                </div>
            </div>
        </div>
    </div>



</section>