

<header class="container">
    <div class="jumbotron wrapper ">
        <div class="row">
            <div class="col-xs-12 ">
                <div class="inner text-center">

                    <h1 class="text-center">Dan's Portfolios</h1>
                    <h2 class="text-center"><em>The girl dives in computer field.</em></h2>

                    <a href="#" class="link">Primary link</a>


                </div>


            </div>
        </div>
    </div>
</header>

