
<section class="container main-section" id="about">
    <div class="text-center">
        <h2 class="text-uppercase">About ME</h2>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 thumbnail row">
            <img class=" mx-auto rounded-circle img-responsive col-lg-12" src="/images/dan.jpg" id="myphoto" alt="Dan Zhao" >
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 titleAboutMe">
            <h3>SKILLS</h3>
            <br>
            <h4>PROGRAMMING LANGUAGES</h4>
            <div class="row ">
                <img class="col-lg-1 col-md-2 col-sm-3 col-xs-3 svg"  src="images/cpp.svg" alt="Dan Zhao" >
                <img class="col-lg-1 col-md-2 col-sm-3 col-xs-3 svg" src="images/cs.svg" alt="Dan Zhao" >
                <img class="col-lg-1 col-md-2 col-sm-3 col-xs-3 svg" src="images/css3-sq.svg" alt="Dan Zhao" >
                <img class="col-lg-1 col-md-2 col-sm-3 col-xs-3 svg" src="images/html-sq.svg" alt="Dan Zhao" >
                <img class="col-lg-1 col-md-2 col-sm-3 col-xs-3 svg" src="images/java-alt-sq.svg" alt="Dan Zhao" >
                <img class="col-lg-1 col-md-2 col-sm-3 col-xs-3 svg" src="images/js-sq.svg" alt="Dan Zhao" >
                <img class="col-lg-1 col-md-2 col-sm-3 col-xs-3 svg" src="images/java-alt-sq.svg" alt="Dan Zhao" >
                <img class="col-lg-1 col-md-2 col-sm-3 col-xs-3 svg" src="images/mysql-sq.svg" alt="Dan Zhao" >
                <img class="col-lg-1 col-md-2 col-sm-3 col-xs-3 svg" src="images/php-sq.svg" alt="Dan Zhao" >
                <img class="col-lg-1 col-md-2 col-sm-3 col-xs-3 svg" src="images/swift-sq.svg" alt="Dan Zhao" >
            </div>
            <br>
            <h4>Work Flow</h4>

            <ul class="list-group">
                <li class="list-group-item ">Front-end development</li>
                <li class="list-group-item ">Cross Browser Testing & Debugging</li>
                <li class="list-group-item ">game testing & QA</li>
            </ul>



        </div>

    </div>




</section>